//   Index:

//1. Operators.
//2. Variables.
//3. Nesting.
//4. mixin
//5. Paramiter
   //a) Pass the Variable.
   //b) Call Function.
//6. Partials.

//  Use Partials :-

@import "./common\ sass/mixin";
@import "var";

//Components
@import "./components/Navbar";
@import "./components/Header";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.25%;
}

//All Sections:-

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../assets/portfolio-1.jpg');
    background-size: cover;
  
} 