//   Index:

//1. Operators.
//2. Variables.
//3. Nesting.
//4. mixin
//5. Paramiter
   //a) Pass the Variable.
   //b) Call Function.
//6. Partials.

//  Use Partials :-

@import "./common_sass/mixin";
@import "./variables/var";

//Components
@import "./components/Navbar";
@import "./components/Header";

//Section
@import "./Section/banner";

//Common code.
@import "./common_sass/button";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.25%;
}

//All Sections:-

@media  (max-width: 768px){
    html{
       font-size: 40%; 
    }
}

@media  (max-width: 508px){
    html{
       font-size: 30%; 
    }
}
