

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 3rem 10rem;
    background-color: transparent;
   
    .logo{
        display: flex;
        position: relative;
        font-weight: bold;
        color: $Pr-text-cl;
        align-items: center;
        text-decoration: none;
        font-size: 3rem;
        text-transform: uppercase;
        transition: 1s;
        letter-spacing: 0.2rem;
        animation: logo 1s linear infinite;
        animation-direction: alternate;
        
        &:hover{
            color: $Pr-text-hov;
        }

        .fas{
            font-size: 3rem;
            align-items: center;
        }

        @keyframes logo {
            from{
                transform: rotate(3deg);
            }

            to{
                transform: rotate(-3deg);
            }
        }
    }
    ul{
         position: relative;
         @include flexp(flex);
         
        
        li{
            position: relative;
            list-style: none;

            a{
                font-size: 2rem;
                position: relative;
                margin: 1rem;
                text-decoration: none;
                color: $Pr-text-cl;
                letter-spacing: 0.2rem;
                font-weight: 50rem;
                transition: 0.6s;

                &:hover{
                    color: $Pr-text-hov;

                    
                }
            }
        }
    }
}