//Navbar for Mobile Screen.

@media (max-width: 768px){

    .active{
        //bottom: 0;
        //left: 0;
        right: 0;
    }

    nav{

        .logo {
            font-size: 6rem;
            text-align: center;

            .fas{
                font-size: 7rem;
            }
        }
        ul{
            // display: none;
            position: fixed;
            top: 0;
            //bottom: 100%;
           // left: -110%;
            right: -100%;
            margin: .5rem;
            // display: block;
            @include flexp(inline);
            background: $nav-cl;
            height: auto;
            width: 100%;
            max-width: 100vw;
            //padding: 4rem 0;
            text-align: center;
           
            li{
                margin-top: 5.5rem;
                padding: 0 5rem;
                margin-bottom: 5.5rem;

                a{
                   font-size: 5rem;
                }
            }
        }
    }
}

// @media (max-width:500px){
//     nav{
//         .logo{
//             font-size: 8rem;
//         }
//     }
// }