//Navbar for Mobile Screen.

@media (max-width: 768px){

    .active{
        left: 0;
    }

    nav{

        .logo {
            font-size: 4rem;
            text-align: center;

            .fas{
                font-size: 5rem;
            }
        }
        ul{
            // display: none;
            position: fixed;
            top: 0;
            left: -110%;
            right: 0;
            margin: .5rem;
            // display: block;
            @include flexp(inline);
            background: $nav-cl;
            height: auto;
            width: 100%;
            max-width: 100rem;
            padding: 4ren 0;
            text-align: center;
           
            li{
                margin-top: 5.5rem;
                padding: 0 5rem;
                margin-bottom: 5.5rem;

                a{
                   font-size: 5rem;
                }
            }
        }
    }
}