//Function:-

//Header:-


header{
    width: 100%;
    height: 50vh;
    @include flexp(flex); // By _mixin.scss
    background-color: $bg-color;
   //flex-wrap: wrap;
    flex-direction: column;

    //3: Nesting.

    h1{
       @include commntext(2rem,0.5rem, uppercase);////Calling Function with variable Font-size,Letter-spacing 
        &:hover{
            color: $Pr-text-hov;
            font-size: 5rem;
            &::after{
                content: " Sass/Scss";
            }
        }
       
    }
      
     p{ 
        @include commntext(0,0, capitalize); //Calling Function.
        &:hover{
            color: $Pr-text-hov;
            &::after{
                content: "SCSS/SASS.";
            }
        }
        
    }
      
    //This is Nesting 
}//Sec-1

@media (max-width:768px){
    header{
        height: 35vh;        
    }
}
