//Navbar

//Import
@import "./Navbar_components/_Navfordesk";
@import "./Navbar_components/_NavMobile";

//On Scroll Navbar.
.sticky{
    background-color: $nav-cl;
    padding: 2rem 10rem;  
    position: fixed; 
}






