
.fl_soc_ic{
    position: fixed;
    width: 5rem;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    z-index: 1;

    
        a{
            @include flexp(inline);
            font-size: 4rem;
            color: $Pr-text-cl;

            &:hover{
                color: $Pr-text-hov;
            }
        }
    
}

@media (max-width:768px){
    .fl_soc_ic{

        a{
            font-size: 8rem;
            margin-bottom: 4rem;
        }
    }
}