
// mixing.

@mixin flexp($dis) {
    align-items: center;//rowise
    justify-content: center;//Columnwise
    display: $dis;
    letter-spacing: .3rem;
    transition: 0.6s;
} 

@mixin commntext($f-sz,$lt-sp,$tx-tr) //This is Pass the Variable
{
    color: $Pr-text-cl;
    font-size: 5rem +$f-sz ; 
    font-weight: bold;
    letter-spacing: .03rem+$lt-sp;
    text-transform: $tx-tr;
    transition: 00.6s;
}


